.DS_Store
.sh_history
.bash_history
.zsh_history
.zcompdump-*
.dotfiles/
.vim/tmp/
.cache/
.Trash/
.npm/
.node-gyp/
.local/
.hyper_plugins/
.ssh/
Music/
Resilio/
Pictures/
Library/
Movies/
Downloads/
Applications/
Documents/
Public/
n/
